.editProfileContainer {
    display: flex;
}

.mainContent {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    margin-left: -100px;
}

.editProfileWrapper {
    margin-top: 30px;
}

.errorMessage{
    color:red;
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 40px 0 0 0;
    width: 350px;
    height: fit-content;
    border: 1px solid rgb(219 220 221);
}

.pText {
    margin: 0 20px;
    padding: 10px;
    font-size: medium;
    text-align: center;
}

.editForm {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editInput {
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(250, 250, 250);
    margin-bottom:6px;
    padding: 9px;
    width: 250px;
    margin: 3px auto;
}

.editButton {
    font-size: 16px;
    paddinG: 8px 0;
    width: 190px;
    background-color: rgb(0, 149, 246);
    opacity: .7;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 10px auto;
}

@media screen and (max-width: 1159px) {
    .mainContent {
        display: flex;
    justify-content: center;
    margin: 0 auto; 
    }
}
