.profileLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    padding: 10px;
}

.suggestedProfileContainer {
    display: flex;
    margin: 5px 0;
}

.suggestedProfile {
    display: flex;
    flex-direction: row;
}

.suggestedProfile > p {
    margin-left: 5px;
}

.noDecoration {
    text-decoration: none;
    color: inherit;
}