.pageWrapper {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.mainSection {
    padding: 30px 50px;
    position: absolute;
    margin-left: 300px;
    left: 236px;
}

.profilePicture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profilePictureContainer {
    width: 291px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.headerSection {
    display: flex;
    width: 935px;
    margin-bottom: 44px;
}

.profileInfoContainer {
    display: flex;
    flex-direction: column;
}

.profileInfoTop {
    display: flex;
}

.profileInfoMiddle {
    display: flex;
}

.profileInfoMiddle > p {
    margin: 0 10px;
}

.photoDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
}

#postId > img {
    object-fit: fill;
}

.photoDisplay > article {
    padding: 2.5px;
}

@media screen and (max-width: 1159px) {
    .mainSection {
        margin-left: 0;
    }
}

