.homePageContainer {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    min-height: 90vh;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
}

.middleMain{
    width: 100%;
    max-width: 630px;
    margin: 0 64px 0 auto;
}

.postArticle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 12px;

}

@media screen and (max-width: 1159px) {
    .middleMain {
        margin: 0 auto;
    }
}
