.leftSidebar{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(219, 219, 219);
    height: 100vh;
    width: 220px;
    position: fixed;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 73px;
    padding: 25px 12px 16px;
    width: 200px;
}

.customLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
}

.navLinks{
    width: 220px;
    height: 100vh;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customLink:hover {
    background-color: lightgrey;
}

.navLinks > a,
.moreBurger {
    padding: 12px;
    margin: 4px 0;
    height: 26px;
}

.navLinks > a > p,
.moreBurger > p {
    margin-left: 10px;
    font-size: 18px;
}

.moreBurger {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.moreBurger > a {
    display: flex;
    align-items: center;
}

.logo > h1 {
    font-size: 30px;
    margin: 0;
}

@media (min-width: 1264px) and (max-width: 1919px) {
    .leftSidebar {
        width: 236px;
    }
}

@media screen and (max-width: 1263px) {
    .leftSidebar {
        width: fit-content;
    }
    
    .navLinks > a {
        align-items: center;
        width: 2rem;
    }
    
}

@media screen and (max-width: 1159px) {
    .pText {
        display: none;
    }
    .iconContainer {
        margin: 10px auto;
    }
    .logo {
        justify-content: center;
        width: 1rem;
    }
    .moreBurger {
        margin: 0 auto;
        padding: 0;
    }
    .moreBurger > a > p {
        display: none;
    }
    .customLink {
        margin: 0 auto;
    }
}

@media screen and (max-width: 730px){
    .leftSidebar {
        display: none;
    }
}
