.leftSidebar{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(219, 219, 219);
    height: 100vh;
    width: 220px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 73px;
    padding: 25px 12px 16px;
    width: 200px;
}

.navLinks{
    width: 220px;
    height: 100vh;
}

.moreBurger {
    text-decoration: none;
    color: black;
}

.navLinks > a,
.moreBurger {
    padding: 12px;
    margin: 4px 0;
    height: 26px;
}

.navLinks > a > p,
.moreBurger > p {
    margin-left: 10px;
    font-size: 18px;
}

.moreBurger {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo > h1 {
    font-size: 30px;
    margin: 0;
}



@media (min-width: 1264px) and (max-width: 1919px) {
    .leftSidebar {
        width: 236px;
    }
}

@media screen and (max-width: 1263px) {
    .leftSidebar {
        width: 72px;
    }
    .logo {
        width: 1rem;
    }
    .navLinks {
        width: 4rem;
    }
    .navLinks > a {
        align-items: center;
        width: 2rem;
    }
    .navLinks > a > p {
        display: none;
    }
    .moreBurger > p {
        display: none;
    }
}

@media screen and (max-width: 425px){
    .leftSidebar {
        display: none;
    }
}
