.rightContainer {
    width: 319px;
    height: 100vh;
    padding-top: 30px;
}

.userProfile {
    display: flex;
    align-items: center;
}

.userLink {
    display: flex;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}


.rightSidebarFooter > div {
    display: flex;
    justify-content: flex-start;
}

.rightSidebarFooter > div,
.rightSidebarFooter > p {
    font-size: 14px;
    color: rgb(142, 142, 142);
    margin: 0px;
    width: 319px;
}

.rightSidebarFooter > p {
    margin-top: 10px;
}

.rightSidebarFooter > div > a {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

@media screen and (max-width: 1159px) {
    .rightContainer {
        display: none;
    }
}
