.storiesContainer {
    display: flex;
    flex-direction: column;
    height: 85px;
    margin: 16px 0 0 0;
    padding: 16px;
}

.username {
    margin: 5px 0 0 0;
    font-size: 12px;
}

.story {
    position: relative;
    margin: 0 15px;
}

.storyContent {
    position: relative;
    width: 50px;
    height: 50px;
}

.storyProfilePicture {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.profileCircleBackground {
    position: absolute;
    top: 55%;
    left: 55%;
    width: 160%;
    height: 142%;
    transform: translate(-50%, -50%);
}
