.registerFormContainer {
    display: flex;
    margin-bottom: 10px;
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.RegisterInput {
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(250, 250, 250);
    margin-bottom:6px;
    padding: 9px;
    width: 250px;
    margin: 3px auto;
}

.bottomTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.learnMoreTxt {
    text-align: center;
    margin: 10px;
    padding: 0 20px;
    align-self: center;
    line-height: 16px;
    font-weight: 400;
    color: #737373;
}

.submitBtn {
    font-size: 16px;
    paddinG: 8px 0;
    width: 190px;
    height: 18.5;
    background-color: rgb(0, 149, 246);
    opacity: .7;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 8px auto;
}
