.postContainer {
    margin: auto;
    width: fit-content;
    aspect-ratio: 1;
    border: 1px solid black;
}

.postImage {
    max-width: 468px;
    height: auto;
    object-fit: cover;
}

.postImgSmall {
    max-width: 309px;
    height: auto;
    object-fit: fill;
}

.postImageContainer {
    margin: auto;
    border-bottom: 1px solid rgb(219,219,219);
}

.topPost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.optionsButton {
    justify-self: flex-end;
}

.profileWrapper {
    display: flex;
    align-items: center;
}

.profileWrapper > h3 {
    margin-left: 10px;
}
