/* components/LoginPage.css */
.loginPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
  }
  
.loginImageContainer,
.formContainer {
  flex: 1;
  text-align: center;
}

.loginImageContainer img {
  width: 500px;
  height: auto;
}

.formContainer{
  flex-direction: column;
  justify-content: center;
}

.signupContainer {
  margin: 10px auto;
  padding: 20px;
  max-width: 350px;
  border: 1px solid rgb(219, 219, 219);
}

.signupText {
  color: blue;
}
