/* components/LoginPage.css */
.loginPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  
.loginImageContainer,
.formContainer {
  width: 50%;
  text-align: center;
}

.loginImageContainer img {
  width: 500px;
  height: auto;
}

.formContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupContainer {
  margin: 10px auto;
  padding: 20px;
  max-width: 350px;
  border: 1px solid rgb(219, 219, 219);
}

.signupText {
  color: blue;
}

.loginRegFooter {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: rgb(142, 142, 142);
  margin-top: 30px;
  padding-top: 10px;
}

.loginRegFooter > a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(142, 142, 142);
  cursor: pointer;
}


@media only screen and (max-width: 480px) {
  .loginImageContainer {
    /* display: none; */
  }
}

@media only screen and (max-width: 768px) {
  .loginImageContainer {
    display: none;
  }
}