/* components/LoginPage.css */
.loginPageContainer {
    min-height: 90vh;
    width: 100vh;
    margin: auto;
  }

.loginPageTopDiv {
    position: relative;
    text-align: center;
    color: rgb(142, 142, 142);
}

.loginPageTopDiv > p{
  margin-top: 16px;
  margin-bottom: 60px;
  cursor: pointer;
}

.loginImageContainer,
.formContainer {
  /* two side by side divs */
  width: 50%;
  text-align: center;
  margin: auto;
}

.loginImageContainer img {
  width: 480px;
  height: auto;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.loginRegFooter {
  position: relative;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(142, 142, 142);
  margin: 30px 20px 50px 20px;
}

.loginRegFooter > a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(142, 142, 142);
  cursor: pointer;
  padding: 10px 0;
}

.metaLogo {
  width: 75px;
  display: block;
  margin: 0 auto 50px;
}


@media only screen and (max-width: 480px) {
  /* .loginImageContainer {
  
  } */
}

@media only screen and (max-width: 768px) {
  /* .loginImageContainer {
    
  } */
}

@media only screen and (max-width: 1025px) {
  .loginImageContainer {
    display: none;
  }
}