.loginFormWrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 493px;
    border: 1px solid rgb(219, 219, 219);
    margin: auto;
    position: relative;
}

.loginForm {
    display: inline-flex;
    flex-direction: column;
    /* margin-top: 20px; */
    align-items: center;
}

.fbButton {
    background-color: rgb(0, 149, 246);
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    width: auto;
}
.fbButton:hover {
    background-color: rgb(24, 119, 242);
}

.loginInput {
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(250, 250, 250);
    margin-bottom:6px;
    padding: 9px;
    width: 208px;
}

.submitButton {
    background-color: rgb(0, 149, 246);
    opacity: .7;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 8px 0;
}

.orContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.or {
    margin: 18px auto;
    text-align: center;
    color: rgb(142, 142, 142);
}

.orLine {
    height: 0;
    width: 60px;
    border: 0.5px solid rgb(142, 142, 142);
    margin: 0 10px;
}

.submitButton,
.fbButton {
    font-size: 16px;
    padding: 7px 16px;
    width: 222px;
}

.errorMessage{
    margin: 0 10px 10px;
    color: red;
}

.forgotPasswordContainer {
    display: flex;
    justify-items: space-between;
    align-items: center;
    height: 50px;
    margin-left: 100px;
}

.forgotPassword {
    text-align: right;
    font-weight: 300;
}

.signupLink {
    margin: 16px auto;
    text-align: center;
    color: rgb(142, 142, 142);;
}

.signupText,
.forgotPassword {
    color: rgb(0, 149, 246);
    text-decoration: none;
    
}

.signupText{
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .loginFormWrapper {
        width: none;
    }
}

@media only screen and (max-width: 320px) {
.loginFormWrapper {
    width: 320px;
}
}
